# NGINX OSS webserver with tools
# NGINX Basics, Jan 2024
# Chris Akker, Shouvik Dutta
version: '3.3'
services:
  nginx-oss:                  # NGINX OSS Webserver
    hostname: nginx-oss
    build: nginx-oss          # Build new container, using /nginx-oss/Dockerfile
    volumes:                  # Copy these folders to container
        - ./nginx-oss/etc/ssl/nginx/.:/etc/ssl/nginx/.
        - ./nginx-oss/etc/nginx/conf.d/.:/etc/nginx/conf.d/.
        - ./nginx-oss/etc/nginx/includes/.:/etc/nginx/includes/.            
        - ./nginx-oss/etc/nginx/ssl/.:/etc/nginx/ssl/.   
        - ./nginx-oss/usr/share/nginx/html/.:/usr/share/nginx/html/.    
    ports:
        - 80:80       # Open for HTTP
        - 443:443     # Open for HTTPS
        - 9000:9000   # Open for stub status page
    restart: always     
     